@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --font-family-inter: 'Inter', sans-serif;
}


.headerSelecoesProdutos {
    display: flex;
    gap: 1em;
    margin: 2em 0 0 1em;
    justify-content: space-between;
    align-items: center;

    color: #050505;

    font-family: Inter;
    font-size: 14.9px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    /* 208.054% */

}

.headerSelocoesDireitaSpace {
    display: flex;
    gap: 1em;
    margin: 2em 0 0 1em;
    margin-right: 2em;
    align-items: center;

}

.request {
    border-right: 1px solid rgba(0, 0, 0, 0.388);
    padding-right: 1em;
}

.getnotion {
    background-color: #121212;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
}


